<%- include ('./parts/adminheader.ejs') %>
    <section class="about section-padding">
        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h2 class="mb-5">Admin  <span> Dashborad </span> </h2>
                </div>

                <div class="col-lg-2 col-12 mt-auto mb-auto">
                    <ul class="nav nav-pills mb-5 mx-auto justify-content-center align-items-center" id="pills-tab"
                        role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true" href="add/meetingRoom">Add Room</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-youtube-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-youtube" type="button" role="tab" aria-controls="pills-youtube"
                                aria-selected="true">How we work?</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-skill-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill"
                                aria-selected="false">Capabilites</button>
                        </li>
                    </ul>
                </div>

                
            </div>
        </div>
    </section>

   

    <%- include('./parts/adminfooter.ejs')%>