<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tooplate's Little Fashion</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="css/slick.css" />

    <link href="css/tooplate-little-fashion.css" rel="stylesheet">
    <!--

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

-->
</head>

<body>

    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>

    <main>

        <section class="sign-in-form section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 mx-auto col-12">

                        <h1 class="hero-title text-center mb-5">Sign Up</h1>



                        <div class="div-separator w-50 m-auto my-5"><span>or</span></div>

                        <div class="row">
                            <div class="col-lg-8 col-11 mx-auto">
                                <form role="form" method="POST" action="/register">
                                    <div class="form-floating">
                                        <input type="text" name="name" id="name" class="form-control" placeholder="name"
                                            required>

                                        <label for="name">name </label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="text" name="lastName" id="lastaNme" class="form-control"
                                            placeholder="lastname" required>

                                        <label for="name">lastname </label>
                                    </div>


                                    <div class="form-floating">
                                        <input type="email" name="email" id="email" class="form-control"
                                            placeholder="Email address" required>

                                        <label for="email">Email address</label>
                                    </div>

                                    <div class="form-floating my-4">
                                        <input type="password" name="password" id="password" class="form-control"
                                            placeholder="Password" required>
                                        <label for="password">Password</label>
                                        <p class="text-center">
                                    </div>



                                    <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
                                        Create account
                                    </button>

                                    <p class="text-center">Already have an account? Please <a href="/login">Sign
                                            In</a></p>

                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>

    </main>
    <%- include('parts/footer.ejs')%>